<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>GAMPro</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon"  href="/Pictures/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/Pictures/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/CSS/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/CSS/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/CSS/css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/CSS/css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
    @font-face {
       font-family: audiowide;
        src: url(../fonts/Audiowide-Regular.ttf);
}
    strong
    {
        text-shadow: 1px 2px 7px black;
    }
    .product-card {
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        box-shadow: 0px 3px 6px -3px black;
}
.navbar-nav .nav-item.active a.nav-link {
        color: #b0b435!important;
    }


.product-card:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
  table {
    width: 70%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 39%);
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #333;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  /* Style for the Add to Cart button */
  .btn-primary {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  /* Style for the empty wishlist message */
  .center-image {
    text-align: center;
    padding: 20px;
  }

  .center-image img {
    max-width: 100%;
    height: auto;
    animation: fadeIn 1s ease;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

</style>


</head>



<body style="background: whitesmoke;">
  {{#if successMessage}}
    <div class="alert alert-success" id="successMessage">
      {{successMessage}}
    </div>
  {{/if}}
  <script>
    // Hide the success message after 5 seconds (5000 milliseconds)
    setTimeout(() => {
      const successMessage = document.getElementById('successMessage');
      if (successMessage) {
        successMessage.style.display = 'none';
      }
    }, 5000);
  </script>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="right-phone-box">
                        <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                    </div>
                    <div class="our-link">
                        <ul>
                            <li><a href="/Account"><i class="fa fa-user s_color"></i> My Account</a></li>
                            <li><a href="/contactUs"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                    <div class="login-box">
                 <a id="logoutButton" class="btn btn-primary" href="/logout">Sign Out</a>
              </div>

                </div>
            </div>
        </div> 
        
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/"><img src="/Pictures/gampro-high-resolution-color-logo.png" class="logo" style="display:flex; justify-content:center; align-items:center;border-radius: 53px; width:102px;" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/aboutus">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">SHOP</a>
                            <ul class="dropdown-menu">
                                <li><a href="/ewallet">E-Wallet</a></li>
                                <li><a href="/products">Games</a></li>
                            </ul>
                        </li>
                        {{!-- <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li> --}}
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Category</a>
                            <ul class="dropdown-menu">
                                <li><a href="/openworld">Open World</a></li>
                                <li><a href="/FPS">FPS</a></li>
                                <li><a href="/racing">Racing</a></li>
                                {{!-- <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li> --}}
                            </ul>
                        </li>
                        
                        <li class="nav-item active"><a class="nav-link" href="/wishlists">Wish List</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                        <li class="side-menu">
							<a href="/cart">
								<i class="fa fa-shopping-bag"></i>
								<span class="badge">{{cartNumber}}</span>
								<p>My Cart</p>
							</a>
						</li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="/Pictures/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="/Pictures/images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="/Pictures/images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
   {{#if wishlist.length}}
  <h1 style="text-align: center; font-family: 'audiowide'">Wish List</h1>
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Add to Cart</th>
      </tr>
    </thead>
    <tbody>
      {{#each wishlist}}
        <tr style="color: black;">
          <td>{{increase @index}}</td>
          <td>{{this.name}}</td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td><button class="btn btn-primary" onclick="addtocart('{{this.productId}}')">
              <span class="ti-bag"></span>
              Add to Cart
            </button></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="center-image">
    <img src="/Pictures/images/Empty/empty-wishlist.png" alt="Empty Wishlist">
  </div>
{{/if}}




    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script>
	function addtocart(productId) {
    $.ajax({
    url: '/add-to-cart/' + productId,
    method: 'POST',
    success: (response) => {
      console.log(response);
      if (response.status) {
        Swal.fire({
          title: 'Added To Cart',
          text: 'Your Product has been added to Cart',
          icon: 'success',
          timer: 5000
        }).then((result)=>
        {
            if(result.isConfirmed)
            {
                location.reload();
            }
        })
      }
    
    },
    error: (error) => {
      console.error('Error:', error);
    }
  });
}

</script>

    
</body>

</html>